:root{
    --primary:rgb(47, 219, 241);
}

.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color:rgb(15, 110, 199);
    border: 1px solid var(--primary);
}

.btn--outline{
    background-color: rgb(4, 184, 255);
    color: darkgrey;
    padding: 8px 20px;
    border:1px solid var(--primary);
    transition:all 0.3s ease-out;
}

.btn--medium{
    padding:8px 20px;
    font-size: 20px;
}

.btn--large{
    padding:12px 26px;
    font-size:20px;
}

.btn--medium:hover,
.btn--large:hover{
    background: rgb(179, 179, 240);
    color:black;
    transition:all 0.3s ease-out;
}